.section-introduce {
  background-image: url(../images/main-photo.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__info {
    display: flex;
    padding: 70px 0;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      display: block;
      width: 100%;
      max-width: 530px;
      padding: 124px 0 126px 205px;
    }
  }

  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/main-photo@2x.jpg);
  }

  &__par {
    font-size: 12px;
    line-height: 1.5;

    @media screen and (min-width: $bp-tablet) {
      font-size: 18px;
      line-height: 1.1;
    }
  }

  &__main-text {
    font-family: 'Play', sans-serif;
    font-size: 54px;
    line-height: 1.1;
    font-weight: 700px;

    @media screen and (min-width: $bp-tablet) {
      font-size: 140px;
      line-height: 0.8;
      margin-top: 16px;
    }
  }

  &__text {
    color: var(--color-dark-gray);
    font-size: 11px;
    line-height: 1.6;
    max-width: 186px;
    text-align: center;

    @media screen and (min-width: $bp-tablet) {
      font-size: 12px;
      line-height: 1.5;
      max-width: 238px;
    }
  }

  &__button {
    width: 186px;
    height: 44px;
    padding: 12px 24px;
    border-radius: 24px;
    margin: 32px 0 8px 0;

    @media screen and (min-width: $bp-tablet) {
      width: 220px;
      height: 54px;
      margin: 40px 0 14px 0;
    }
  }
}
